<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="https://github.com/FCICoder"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span>Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://github.com/FCICoder">main github Page</a></li>
            <li><a href="https://fcicoder.github.io/E-commerce/">E-commerce App</a></li>
            <li><a href="https://note-alpha-two.vercel.app/">Note App</a></li>
            <li><a href="https://quize-app-xi.vercel.app/">Quiz App</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://github.com/FCICoder"><span class="glyphicon glyphicon-book"></span> Mahmoud Page</a>
      </li>
    </ul>
  </div>
</nav>
