<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo" >
      <img src="https://scontent.fcai24-1.fna.fbcdn.net/v/t39.30808-6/370804513_3754918371402307_3242441798986461266_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH3uZyrStaPYYbB7ppfoVU29MXMDEBpRUj0xcwMQGlFSLgNOBkqijs7xfRga7-UMYh6ecMqoMICY-HtH2jc88bP&_nc_ohc=MGmXHXe5vNoAX8EI8Fh&_nc_ht=scontent.fcai24-1.fna&oh=00_AfBonf50l5VmPakVVhHbEFvB130ywmLsoqfTzD0yUel6-A&oe=65321DDA">
    </a>
    <h1>Mahmoud Mohamed Ahmed</h1>
    <p>This is a simple prtofolio for Mahmoud Mohamed Ahmed.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/FCICoder"><span class="glyphicon glyphicon-flash"></span> Github page</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.linkedin.com/in/mahmoud-mohamed-ahmed"></span>Linkedin Page</a>
  </div>
</div>

  <hr>
</body>
</html>
