<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class=" text-center">
  <div class="container">
    <a href="/" >
      <img src="https://media.licdn.com/media/AAYQAQSOAAgAAQAAAAAAAB-zrMZEDXI2T62PSuT6kpB6qg.png">
    </a>
    <h1>Mahmoud Mohamed Ahmed</h1>
    <p>This is a simple prtofolio for Mahmoud Mohamed Ahmed.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/FCICoder"><span class="glyphicon glyphicon-flash"></span> Github page</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.linkedin.com/in/mahmoud-mohamed-ahmed"></span>Linkedin Page</a>
  </div>
</div>

  <hr>
</body>
</html>
